@inject HttpClient http

@if (showError)
{
    <div class="alert alert-danger" role="alert">
        <p class="mb-0">@responseString</p>
    </div>
}


    <div class="form-group text-center">
        <label for="exampleInputPassword1">Вы точно хотите отвязать аккаунт?</label>
    </div>

    <a class="btn btn-primary" @onclick="@(async () => await Unlink())">Отвязать</a>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public string Email { get; set; }

    string responseString = "";
    bool showError = false;


    private async Task Unlink()
    {
        var httpResponse = await http.DeleteAsync($"api/bindaccount?email={Email}");

        if (httpResponse.IsSuccessStatusCode)
        {
            BlazoredModal.Close(ModalResult.Cancel());
        }
        else
        {
            responseString = await httpResponse.Content.ReadAsStringAsync();

            showError = true;
        }
    }
}
