@page "/about"
@layout MainLayout

<Intro BodyId="@("body")" ImgSource="img/banner.jpg">
    <div class="banner-text">
        <h2>Наше Предприятие</h2>
        <p>
            @*наша цель - бесперебойное снабжение качественным теплом, опеспечение комфорта граждан.*@
            созданно с целью бесперебойного снабжения потребителей качественным теплом,
            для обеспечения комфортных условий труда и проживания граждан.
        </p>
    </div>
</Intro>

<header id="header">
    <NavMenu Image="/img/Logo.png" CssClassImage="logo-img" />
</header>

<div class="body" id="body" style="padding-top: 0;">
    <Structure Attributes="StructureStyleCss"></Structure>

    <ScrollLine ContentClassCss="about-content">
        @for (int i = 1; i < 7; i++)
        {
            <div class="about-content__item">
                <div class="dot">
                    <div class="dot-scroll"></div>
                </div>
                <div class="about-content__info" style="flex-direction: @(i % 2 == 0 ? "row-reverse" : "row");">
                    <div class="about-content__img">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Черепетская_ГРЭС_2017.jpg/1200px-Черепетская_ГРЭС_2017.jpg">
                    </div>
                    <div class="about-content__text">
                        <h2 class="text-blue">
                            СЕ ПАО «ДОНБАССЭНЕРГО» СЛАВЯНСКАЯ ТЭС
                        </h2>
                        <p>
                            Установленная мощность ТЭС – 2 010 МВт, в эксплуатации 9 энергоблоков,
                            станция работает в режиме маневрирования. В течение 2015-2016 годов в 
                            работе одновременно находится от 2 до 5 энергоблоков. В генерации задействованы
                            блоки с наиболее высокими показателями экономичности и экологичности, в том числе 
                            реконструированные в 2013-2014 годах №№ 12,13. На Старобешевской ТЭС продолжается 
                            работа по обеспечению участия модернизированных блоков во вторичном регулировании 
                            в рамках будущей синхронизации с европейской энергосистемой – «Донбассэнерго» выполняет 
                            взятые на себя обязательства перед государством и международными партнерами.
                        </p>
                    </div>
                </div>
            </div>
        }
    </ScrollLine>
</div>

@code {
    private Dictionary<string, object> StructureStyleCss =
        new Dictionary<string, object>()
        {
            { "style", "background-color:#fff;" }
        };
}
