@page "/job"
@layout MainLayout

<Intro BodyId="@("body")" ImgSource="@ImageLinks.JobIntro">
    <div class="banner-text">
        <h2>Вакансии</h2>
        <p>
            созданно с целью бесперебойного снабжения потребителей качественным теплом,
            для обеспечения комфортных условий труда и проживания граждан.
        </p>
    </div>
</Intro>

<header id="header">
    <NavMenu Image="/img/Logo.png" CssClassImage="logo-img" />
</header>

<div class="body" id="body">
    <div class="container">
        <div class="jobs_block">
            <div class="job_container">
                <div class="job_item">
                    <div class="job_name">
                        ИНЖЕНЕР-ГЕОДЕЗИСТ
                    </div>
                    <div class="job_time">
                        20.04.2020
                    </div>
                    <table class="job_data">
                        <tbody>
                            <tr>
                                <td class="job_data-title">
                                    Место
                                </td>
                                <td class="job_data-info">
                                    СПП "Уголек" (г. Горловка)
                                </td>
                            </tr>
                            <tr>
                                <td class="job_data-title">
                                    Зарплата
                                </td>
                                <td class="job_data-info">
                                    10 000 р.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group">
                        <a class="btn btn-primary d-flex align-items-center waves-effect" href="">
                            Подробнее
                        </a>
                    </div>
                </div>

                <div class="job_item">
                    <div class="job_name">
                        Программист 1С
                    </div>
                    <div class="job_time">
                        23.03.2020
                    </div>
                    <table class="job_data">
                        <tbody>
                            <tr>
                                <td class="job_data-title">
                                    Место
                                </td>
                                <td class="job_data-info">
                                    СПП "Уголек" (г. Горловка)
                                </td>
                            </tr>
                            <tr>
                                <td class="job_data-title">
                                    Зарплата
                                </td>
                                <td class="job_data-info">
                                    14 000 р.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group">
                        <a class="btn btn-primary d-flex align-items-center waves-effect" href="">
                            Подробнее
                        </a>
                    </div>
                </div>

                <div class="job_item">
                    <div class="job_name">
                        Сварщик 3-го разряда
                    </div>
                    <div class="job_time">
                        20.03.2020
                    </div>
                    <table class="job_data">
                        <tbody>
                            <tr>
                                <td class="job_data-title">
                                    Место
                                </td>
                                <td class="job_data-info">
                                    СПП "Уголек" (г. Горловка)
                                </td>
                            </tr>
                            <tr>
                                <td class="job_data-title">
                                    Зарплата
                                </td>
                                <td class="job_data-info">
                                    9 000 р.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group">
                        <a class="btn btn-primary d-flex align-items-center waves-effect" href="">
                            Подробнее
                        </a>
                    </div>
                </div>

                <div class="job_item">
                    <div class="job_name">
                        Водитель
                    </div>
                    <div class="job_time">
                        20.02.2020
                    </div>
                    <table class="job_data">
                        <tbody>
                            <tr>
                                <td class="job_data-title">
                                    Место
                                </td>
                                <td class="job_data-info">
                                    СПП "Уголек" (г. Горловка)
                                </td>
                            </tr>
                            <tr>
                                <td class="job_data-title">
                                    Зарплата
                                </td>
                                <td class="job_data-info">
                                    7 000 р.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group">
                        <a class="btn btn-primary d-flex align-items-center waves-effect" href="">
                            Подробнее
                        </a>
                    </div>
                </div>

                <div class="job_item">
                    <div class="job_name">
                        Программист С#
                    </div>
                    <div class="job_time">
                        19.01.2020
                    </div>
                    <table class="job_data">
                        <tbody>
                            <tr>
                                <td class="job_data-title">
                                    Место
                                </td>
                                <td class="job_data-info">
                                    СПП "Уголек" (г. Горловка)
                                </td>
                            </tr>
                            <tr>
                                <td class="job_data-title">
                                    Зарплата
                                </td>
                                <td class="job_data-info">
                                    23 000 р.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group">
                        <a class="btn btn-primary d-flex align-items-center waves-effect" href="">
                            Подробнее
                        </a>
                    </div>
                </div>

                <div class="create-line" style=""></div>
            </div>
        </div>
    </div>
</div>