@page "/job"
@layout MainLayout

<Intro BodyId="@("body")" ImgSource="@ImageLinks.JobIntro">
    <div class="banner-text">
        <h2>Вакансии</h2>
        <p>
            созданно с целью бесперебойного снабжения потребителей качественным теплом,
            для обеспечения комфортных условий труда и проживания граждан.
        </p>
    </div>
</Intro>

<header id="header">
    <NavMenu Image="/img/Logo.png" CssClassImage="logo-img" />
</header>

<div class="body" id="body">
    <div style="height: 300px; display: flex; justify-content: center; align-items: center;">
        <h4 style="font-weight: 600; margin-bottom: 75px;">В разработке!!!</h4>
    </div>
</div>